<h3>Sign in</h3>
<form action="/admin" method="post">
  <label for="username">Username</label>
  <input
    type="text"
    name="username"
    id="username"
    placeholder="enter username"
  />
  <label for="password">Password</label>
  <input
    type="password"
    name="password"
    id="password"
    placeholder="enter password"
  />
  <button type="submit" class="btn">Login</button>
</form>

<!-- <h3>Register</h3>
<form action="/register" method="post">
  <label for="username">Username</label>
  <input
    type="text"
    name="username"
    id="username"
    placeholder="enter username"
  />
  <label for="password">Password</label>
  <input
    type="text"
    name="password"
    id="password"
    placeholder="enter password"
  />
  <button type="submit" class="btn">Register</button>
</form> -->
