<div class="author">
  <h1 class="author__heading">Search results</h1>
</div>
<section class="articles">
  <ul class="article-list">
    <% if (data.length>0) { %> <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list__date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %> <% } else { %>
    <h1>No results</h1>
    <% } %>
  </ul>
</section>
